<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Comatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/mystyle.css">
</head>
<body>
<div class="home-more">
    <div class="index">
        <h2>Hiddenmark</h2>
        <text>Protect your rights</text>
        <text>A platform focusing on digital copyright protection</text>
        <a href="{{ url_for('index') }}">More...</a>
    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>

</body>
</html>
